.input {
  position: relative;
  color: #d4d4d7;
  font-size: 16px;
  display: inline-block;

  input {
    width: 35vw;
    height: 32px;
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    text-indent: 10px;
  }
}
